<div class="well content">
  <form id="feed-search" class="form-search">
    <input id="search-val" type="text" class="input-medium search-query">
    <button type="submit" class="btn btn-primary">Find Feeds</button>
  </form>
</div>
<div id="search-results">
</div>