<div class="well content">
  <div id="screenshots" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/images/comnspace_1.png" width="832" height="520" alt>
        <div class="carousel-caption">
          <h4>Initial Version</h4>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/comnspace_2.png" width="832" height="520" alt>
        <div class="carousel-caption">
          <h4>Some div location and adding the ability to share</h4>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/comnspace_3.png" width="832" height="520" alt>
        <div class="carousel-caption">
          <h4>Removing some of the noise</h4>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/comnspace_4.png" width="832" height="520" alt>
        <div class="carousel-caption">
          <h4>Adding some color and moving from check boxes to toggle buttons</h4>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/comnspace_5.png" width="832" height="520" alt>
        <div class="carousel-caption">
          <h4>Adding the initial tags control</h4>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/comnspace_6.png" width="832" height="520" alt>
        <div class="carousel-caption">
          <h4>Trying to add a little more color</h4>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/comnspace_7.png" width="832" height="520" alt>
        <div class="carousel-caption">
          <h4>Finally using Bootstrap!</h4>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#screenshots" data-slide="prev">‹<a>
    <a class="right carousel-control" href="#screenshots" data-slide="next">›</a>
  </div>
</div>
