<div class="well content">
	<div class="horizontal-form-heading">Create Group</div>
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="input01">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input02">Users</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">Discription</label>
				<div class="controls">
					<textarea class="input-xlarge" id="textarea" rows+"3"></textarea>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Share</button>
				<button type="reset" class="btn">Cancel</button>
			</div>
		</fieldset>
	</form>
</div>
