<div class="well content">
	<div class="horizontal-form-heading">Create Group</div>
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="input01">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input02">Users</label>
				<div class="controls">
          <div class="group-users">
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/dan_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">dan</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/mike_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">mike</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica_reyes_123</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          	<a href"#" class="thumbnail">
          	  <i class="icon-remove icon-gray-black"></i>
          		<img class="pull-left" src="assets/images/erica_profile.gif" width='32' height='32' />
          		<div class="caption pull-right">erica</div>
          	</a>
          </div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input02">Add User</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">Discription</label>
				<div class="controls">
					<textarea class="input-xlarge" id="textarea" rows+"3"></textarea>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Create Group</button>
				<button type="reset" class="btn">Cancel</button>
			</div>
		</fieldset>
	</form>
</div>
