<% 10.times do |i| %>
  <% unless i.even? %>
	  <div class="well content entry-active">
	<% else %>
    <div class="well content">
	<% end %>
		<div class="entry-item">
			<h3>
				<a href="http://www.engadget.com/2012/01/21/netflix-cmo-management-change/">Netflix is looking for a new Chief Marketing Officer, if you think you can do better</a><a class="close" href="#">×</a>
			</h3>
			<div class="entry-details">
				From <a href="#">comnspace-ideas</a> - 33 Views - 19 Comments - 5 Group Discussions
				<span style="float: right;">Jan 21 (13 days ago)</span>
			</div>
			<div class="entry-summary">
				Considering how <a href="http://www.engadget.com/2011/12/29/techs-biggest-misfires-of-2011/">2011</a> progressed for <a href="http://www.engadget.com/tag/netflix/">Netflix</a>, it's not entirely surprising to hear some changes are in store at the top when it comes to marketing and communications. The video rental giant announced that its Chief Marketing Officer of the last dozen years, Leslie Kilgore, will be taking a position on its board as a "non-executive director", replaced in the interim by Jessie Becker as it conducts an external search for a permanent replacement. Also shifting positions is Jonathan Friedland who will be the new Chief Communications officer, and both Becker and Friedland will report directly to CEO Reed Hastings. Netflix's relationships with its customers were definitely damaged by last year's <a href="http://www.engadget.com/2011/07/12/netflix-dvd-only-unlimited-plan-appears-price-for-streaming-and/">price hike</a> and the shocking Qwikster spinoff <a href="http://www.engadget.com/2011/09/19/netflix-spins-dvd-by-mail-service-off-into-qwikster-says-its/">announcement</a> / <a href="http://www.engadget.com/2011/10/10/netflix-backtracks-on-qwikster-will-keep-dvds-and-streaming-und/">unannouncement</a> that followed, with a slate of original content on the way and some changes in store for its content licensing, we'll see if it can get the magic back in 2012 -- we're not so sure that the latest round of ads featuring beavers and hamsters (one's embedded after the break) are the way. <p>
					<p><a href="http://www.engadget.com/2012/01/21/netflix-cmo-management-change/" rel="bookmark">Continue reading <em>Netflix is looking for a new Chief Marketing Officer, if you think you can do better</em></a></p>
					<p style="padding:5px;background:#ddd;border:1px solid #ccc;clear:both;"><a href="http://www.engadget.com/2012/01/21/netflix-cmo-management-change/">Netflix is looking for a new Chief Marketing Officer, if you think you can do better</a> originally appeared on <a href="http://www.engadget.com">Engadget</a> on Sat, 21 Jan 2012 13:42:00 EDT.  Please see our <a href="http://www.weblogsinc.com/feed-terms/">terms for use of feeds</a>.</p>
					<a title="Permanent link to this entry" rel="bookmark" href="http://www.engadget.com/2012/01/21/netflix-cmo-management-change/">Permalink</a> &nbsp; &nbsp;|&nbsp; &nbsp;|&nbsp; <a title="Send this entry to a friend via email" href="http://www.engadget.com/forward/20153591/">Email this</a> &nbsp;|&nbsp; <a title="View reader comments on this entry" href="http://www.engadget.com/2012/01/21/netflix-cmo-management-change/#comments">Comments</a>
			</div>
			<hr>
			<span class="entry-action">
				<i class="icon-star-empty"></i>Star
			</span>
			<span class="entry-action">
			  <i class="icon-bookmark"></i>Read Later
			</span>
			<span class="entry-action">
				<i class="icon-comment"></i>19 Comments
			</span>
			<span class="entry-action">
				<i class="icon-share-alt"></i>Share with Group
			</span>
			<span class="entry-action">
				<i class="icon-tags"></i>Edit Tags:
				<span class="label">Andriod</span>
				<span class="label">iPhone</span>
				<span class="label">Streaming Video</span>
			</span>
			<% if i == 0 %>
				<div class="fill">
				</div>
				<div class="row-fluid">
					<div class="span1">
						<div class="comment-profile">
						<a href"#" class="thumbnail">
							<img src="assets/images/dan_profile.gif" width='48' height='48' />
						</a>
						</div>
					</div>
					<div class="span11">
						<div class="comment-form">
							<div class="comment-title">
								<i class="icon-comment"></i>Comment on Article
							</div>
							<div class="comment-body">
								<textarea></textarea>
							<div class="comment-submit">
								<a class="btn btn-small" href="#"><i class="icon-comment"></i>Comment</a>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span11 float-right">
						<div class="comment-participants">
							<a href"#" class="thumbnail">
								<img src="assets/images/dan_profile.gif" width='32' height='32' />
							</a>
							<a href"#" class="thumbnail">
								<img src="assets/images/mike_profile.gif" width='32' height='32' />
							</a>
							<a href"#" class="thumbnail">
								<img src="assets/images/erica_profile.gif" width='32' height='32' />
							</a>
							<strong>dan</strong>, <strong>mike</strong>, and <strong>erica</strong> are participating in this discussion.
						</div>
					</div>
				</div>
				<% 5.times do %>
				<div class="row-fluid">
					<div class="span1">
						<div class="comment-profile">
						<a href"#" class="thumbnail">
							<img src="assets/images/mike_profile.gif" width='48' height='48' />
						</a>
						</div>
					</div>
					<div class="span11">
						<div class="comment-form">
							<div class="comment-title">
								<i class="icon-comment"></i><strong>mike</strong> commented - <a href="#">3 Responses</a>
							</div>
							<div class="comment-body">
								This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. This is a sick article and i have a lot to say about it. 
								<span class="comment-action">
									<a class="btn btn-small btn-primary" href="#"><i class="icon-comment icon-white"></i>Reply</a>
								</span>
							</div>
						</div>
					</div>
				</div>
				<% end %>
			<% end %>
			<% if i == 1 %>
				<div class="fill">
				</div>
				<div class="horizontal-form-heading">Share with Group</div>
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="input01">Groups</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="input01">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input02">Title</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="input01" value="Netflix is looking for a new Chief Marketing Officer, if you think you can do better">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" id="optionsCheckbox" value="option1">
								  	Include Article
								 </label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea">Comment</label>
							<div class="controls">
								<textarea class="input-xlarge" id="textarea" rows+"3"></textarea>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Share</button>
							<button type="reset" class="btn">Cancel</button>
						</div>
					</fieldset>
				</form>
			<% end %>
		</div>
	</div>
<% end %>
  <div>
    <a class="btn entry-pagination">Load More...</a>
  </div>
